.pytest_cache/
__pycache__/
*.pyc

*.egg-info/
dist/
build/
pip-wheel-metadata/

/Pipfile.lock
/poetry.lock
/poetry.lock.toml

.tox
.mypy_cache

.dephell_cache/
.dephell_report/
/dephell/_vendor/
/dephell_vendor/

/README.rst
.idea
.venv
venv/
\.python-version
monkeytype.sqlite3
annotations.json
