<hr/>
<div>
  {{ conflict.name }}{{ conflict.constraint }}
</div>

<div>
  <ul>
    {% for name, spec in conflict.constraint.specs %}
      <li>
        {{ spec or '*' }} goes from {{ graph.get(name).group }}
      </li>
    {% endfor %}
  </ul>
</div>

<div>
  Releases:
  <ul>
    {% for release in conflict.groups.releases %}
      <li>
        {{ release.version }}
      </li>
    {% endfor %}
  </ul>
</div>
